[submodule ".emacs.d/site-lisp/yasnippet"]
	path = .emacs.d/site-lisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/site-lisp/auto-complete"]
	path = .emacs.d/site-lisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule ".emacs.d/site-lisp/markdown-mode"]
	path = .emacs.d/site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
